@import "../global/_color.less";
@import "../global/_mixins.less";
@import "../global/_font.less";

@media screen and (min-width: 320px) {
  main {
    .flex-main--center;
    width: 100%;
    margin-top: 30px;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .banner {
    &-container {
      margin-bottom: 73px;
    }

    &-image {
      margin-bottom: 10px;
    }
    &-left {
      position: relative;

      &-content {
        .flex-wrap;
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: column;
        width: 42.8%;
        .pacifico--regular;
        font-size: 20px;
        letter-spacing: 0.1px;

        position: absolute;
        bottom: 28%;
        right: 12.25%;
      }

      &-text {
        width: 100%;
        color: @_black-0;
      }

      &-button {
        justify-content: center;
        padding: 10px;
        margin-right: 20px;
        margin-top: 3px;

        .montserrat--regular;
        font-size: 14px;
        color: @_white-0;
        text-transform: capitalize;
        background-color: @_purple-0;
      }     
    }

    &-right {
      &-item {
        position: relative;
      }

      &-top {
        &-content {
          .flex-main--center;
          flex-direction: column;
          align-items: flex-start;
          width: 83.33%;
          height: 130px;
          padding: 20px 0 15px 28px;

          .montserrat--regular;
          font-size: 20px;
          text-transform: uppercase;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          box-sizing: border-box;
        }

        &-text {
          color: @_gray-8;
          font-size: 16px;
          letter-spacing: 3px;
          margin-top: 5px;
        }

        &-large {
          .montserrat--bold;
          color: @_black-0;
          margin-top: 0px;
        }
      }

      &-bottom {
        &-content {
          position: absolute;
          top: 120px;
          left: 40px;
          box-sizing: border-box;

          .montserrat--regular;
          font-size: 20px;
          text-transform: uppercase;
        }

        &-text {
          .montserrat--regular;
          color: @_gray-8;
          font-size: 16px;
          letter-spacing: 3px;
        }

        &-large {
          .montserrat--bold;
          color: @_black-0;
          margin-bottom: 14px;
          font-size: 21px;
          letter-spacing: -0.6px;
        }

        &-button {
          justify-content: center;
          padding: 10px;       

          .montserrat--regular;
          font-size: 14px;
          color: @_white-0;
          text-transform: capitalize;
          background-color: @_purple-0;         
        }        
      }
    }
  }

  .feature {
    &-container {
      .flex-main--center;
      .montserrat--bold;
      text-transform: uppercase;
    }

    &-content {
      .flex-cross--center;
      flex-direction: column;
      width: 100%;
      margin-bottom: 50px;
      position: relative;
    }

    &-content::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 50px;
      height: 2px;
      background-color: @_purple-0;
    }

    &-title {
      margin-bottom: 10px;

      font-size: 12px;
      color: @_purple-0;
      letter-spacing: 6px;
    }

    &-subtitle {
      margin-bottom: 27px;
      font-size: 24px;
      letter-spacing: 2.2px;
    }
  }

  .product {
    &-card {
      margin-bottom: 43px;
      width: 100%;
      box-sizing: border-box;
      padding: 0 15px;
    }

    &-image {
      &-container {
        line-height: 0;
        position: relative;
        margin-bottom: 10px;
      }

      &-element {
        width: 100%;
      }
    }

    &-cart {
      &-container {
        .flex-main--center;
        width: 120px;
        height: 40px;
        position: absolute;
        bottom: 5px;
        left: 5px;
        z-index: 100;
        line-height: 0;
        background-color: @_white-0;
      }

      &-button {
        .montserrat--bold;
        font-size: 12px;
        text-transform: uppercase;
      }

      &-button:hover {
        color: @_purple-0;
      }
    }

    &-summary {
      .flex-cross--center;
      flex-direction: column;
      text-transform: none;
    }

    &-name {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 12px;
    }

    &-star {
      &-container {
        .flex-main--around;
        width: 35%;
        margin-bottom: 9px;
        color: @_white-2;
        font-size: 13px;
      }

      &--active {
        color: @_yellow-0;
      }
    }

    &-cost {
      &-container {
        .flex-main--around;
        width: 50%;
      }

      &--old {
        color: @_gray-4;
        font-weight: 400;
        text-decoration: line-through;
        font-size: 15px;
      }

      &--new {
        color: @_purple-0;
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 600px) and (min-width: 500px){
  .product {
    &-container {
      .flex-main--around;
    }
    &-card {
      width: 50%;
    }
  }  
}

@media screen and (min-width: 640px) {
  .banner {
    &-right {
      .flex-main--around;
      align-items: center;
    }
  }
  .product {
    &-container {
      .flex-main--around;
    }
    &-card {
      width: 50%;
    }
  }
}

@media screen and (min-width: 760px){
  .product {
    &-container {
      .flex-main--around;
    }
    &-card {
      width: 33.33%;
    }
  }  
}

@media screen and (min-width: 1024px) {
  .banner {
    &-container {
      .flex-main--around;
      width: 100%;
      max-width: 1140px;
    }

    &-left {
      width: 65.79%;
    }

    &-right {
      width: 31.67%;
      .flex-main--between;
      flex-direction: column;
    }

    &-image {
      margin-bottom: 0;
    }
  }

  .product {
    &-card {
      width: 25%;
      box-sizing: border-box;
    }
    &-summary {
      .flex-cross--start;
    }

    &-container {
      .flex-main--between;
    }
  }

  .feature {
    &-container {
      width: 100%;
      max-width: 1140px;
    }

    &-content {
      .flex-cross--start;
    }

    &-title {
      font-size: 12px;
    }

    &-subtitle {
      font-size: 24px;
    }
  }
}

@media screen and (min-width: 1440px) {
  main {
    .flex-cross--center;
    flex-direction: column;
  }

  .banner {
    &-container {
      .flex-main--between;
    }
  }

  .product {
    &-container {
      .flex-main--between;
    }

    &-card {
      width: 100%;
    }

    &-summary {
      .flex-cross--start;
    }

    &-star {
      &-container {
        display: block;

        font-size: 11px;
      }
    }

    &-cost {
      &-container {
        display: block;
      }
    }
  }
}
